body {
    text-align: center;
    background: #f0f0f0;
}

.app-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#final-password {
    width: 50%;
    font-size: 28px;
    text-align: left;
    border: none;
    border-radius: 50px;
    padding: 20px 30px;
}